# Файлы компиляции
__pycache__/

# Виртуальные окружения
venv_linux/
venv_windows/
airflow_venv/

# Переменные окружения
.env

# DAGs файлы
dags/

# Логи и данные
data/
logging.log

# Тестовый файл
start.py

# Файлы конфигурации докера
docker/
docker-compose.yml

# Other optional additions
*.bak
*.swp
.vscode

# Временные файлы 
remove.txt