# Byte-compiled
__pycache__/

# Virtual environments
venv_linux/
venv_windows/
airflow_venv/

# Environment variables
.env

# DAGs files
dags/

# Logs and data files
data/
logging.log

# Temporary or dev files
start.py

# Config files
# Keep Dockerfile and any other setup config, but not temp files
Dockerfile

# Other optional additions
*.bak
*.swp